################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SalesforceStreamConnector/SalesforceStreamConnector/SalesforceStreamConnector/bin/Debug/netcoreapp2.1
/SalesforceStreamConnector/SalesforceStreamConnector/SalesforceStreamConnector/obj
